body {
  margin: 0;
  padding: 0;
}

.divider {
  padding-block: 0.5rem;
  text-align: center;
  margin-inline: auto;
}
.divider h2 {
  color: red;
  padding: 0;
  margin: 0;
  margin: auto;
}

input {
  border-radius: 0.875rem;
  outline: none;
  padding: 0.5rem 1.2rem;
}